{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <!-- <h2>{{ about.title }}</h2> -->
            <h2>About Cameron Conroy</h2>
            <!-- Content goes directly underneath this -->
            <!-- {{ about.content | safe }} -->
            <p>Cameron Conroy was born at an early age, but spent most of his childhood years being raised by a
                community of ringed plovers after a crab-broddling expedition in Bridlington went tragically wrong.
                During his time with the seabirds, Cameron learnt many useful skills: how to swallow a fish whole, and
                how to say "awk" loudly, for example. His particular talent at screeching like an enraged gull, thus
                scaring away other birds, led to him being awarded the name: "Cameron, Lord of the Cormorants".</p>
            <p>Back home in West Yorkshire, these skills did not go un-noticed by the intelligence community, and
                Cameron was soon recruited by the Hepworth branch of MI5 and assigned to covert operations at the
                Jackson Bridge bus stop. His cover was blown when he attempted to build a large, underground control
                centre and was told off for digging up the lawn; whereupon he fled to Ireland under the innocuous
                pseudonym of Sir Platypus Tricuspid-Blythe XIV. His rapid flight meant that he only had time to bring an
                unhealthy fascination with computers, and the world’s last known surviving bacon'n'bean flavour Burton's
                Piglet with him. Unfortunately, after meeting the real Sir Platypus Tricuspid-Blythe XIV on the ferry,
                he was obliged to return to his real name.</p>
            <p>After an abortive attempt at fiscal world domination, Cameron began undertaking more sinister experiments
                by sellotaping trained bees to the backs of wombats in an attempt to create a Winged Army of the Night
                That Makes A Pleasant Buzzing Noise. Sadly, due to a lack of sellotape and an abnormally high turnover
                of both bees and marsupials, this project is suspended pending further investigation.</p>
            <p>Today Cameron can be found periodically contributing to various ZX Spectrum discussion groups, waiting
                impatiently for the delivery of his ZX Spectrum Next, and surreptitiously attempting to get his weird
                sense of humour past the content reviewers.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on:{{ about.updated_on }} </em></p>
        </div>
    </div>
</div>
{% endblock content %}